{% extends 'baseadmin.html.twig' %}

{% block title %}Admin Trojan{% endblock %}

{% block body %}

<header>
    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
        {% for message in messages %}
            <div class="flash-{{ label }} bg-{{ label }} text-center">
                {{ message }}
        {% endfor%}
    {% endfor%}
</header>


<h1>TABLEAUX ADMIN</h1>

    <div class="col-10 m-5">
        
            <table class="table table-bordered table-hover table-sm text-center">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Album</th>
                        <th scope="col">img</th>
                        <th scope="col">Reference</th>
                        <th scope="col">Label</th>
                        <th scope="col">prix</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

            <tbody>
                {% for musique in musiques %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ musique.nom }}</td>
                        <td>{{ musique.album }}</td>
                        <td>{{ musique.img }}</td>
                        <td>{{ musique.reference }}</td>
                        <td>{{ musique.label }}</td>
                        <td>{{ musique.prix }}</td>
                        <td>
                            <a href="{{ path('app_trojan_update', {'id':musique.id}) }}">Modifier</a> | <a href="{{ path('app_trojan_delete', {'id':musique.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_trojan_create') }}" class="btn btn-outline-dark">Ajouter</a>

        <a href="{{ path('app_admin') }}" class="btn btn-outline-info text-black">Retour admin accueil</a>

        
    </div><!-- FIN COL10 M5 -->


{% endblock %}
