{% extends 'base.html.twig' %}

{% block title %}Hello StudioOneController!{% endblock %}

{% block body %}

 <h1 class="display-5 text-center m-5">STUDIO ONE RECORDS</h1>

<div class="container-fluid">
    <div class="row">


        {% for musique in musiques %}
    
            <div class="card col-4 m-3" style="width: 18rem;">
                <img src={{ asset('img/' ~ musique.img)}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ musique.nom }}</h5>
                        <p class="card-text">{{ musique.album }}</p>
                    </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ musique.reference }}</li>
                            <li class="list-group-item">{{ musique.label }}</li>
                            <li class="list-group-item">{{ musique.prix }} €</li>
                        </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary float-right">Ajoutez</button>
                        <!--<a href="{{ path('app_cart', {'id':musique.id})}}" class="btn btn-success">-->
                        <!-- <i class="fas fa-shopping-cart mr-1"></i>-->
                        
                    </div>
            </div>

        {% endfor %}

    </div><!-- FIN ROW -->
</div><!-- FIN CONATAINER FLUID -->
{% endblock %}
